In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn
%matplotlib inline

In [10]:
boston_climate = pd.read_csv("~/travis_python/FINAL/boston_climate.csv")
boston_climate

,,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Unnamed: 13
0,Average high in °F:,36.00,39.00,45.00,56.00,66.0,76.00,81.00,80.00,72.00,61.00,51.00,41.00,NaN
1,Average low in °F:,22.00,25.00,31.00,41.00,50.0,60.00,65.00,65.00,57.00,47.00,38.00,28.00,NaN
2,Av. precipitation in inch:,3.35,3.27,4.33,3.74,3.5,3.66,3.43,3.35,3.43,3.94,3.98,3.78,NaN
3,Days with precipitation:,13.00,11.00,13.00,12.00,13.0,12.00,11.00,10.00,10.00,10.00,11.00,11.00,NaN
4,Hours of sunshine:,148.00,168.00,212.00,222.00,263.0,283.00,300.00,280.00,232.00,207.00,152.00,148.00,NaN
5,Average snowfall in inch:,13.00,11.00,8.00,2.00,0.0,0.00,0.00,0.00,0.00,0.00,1.00,9.00,NaN

In [ ]:
plt